{% extends 'base.html.twig' %}

{% block body %}
    <div class="form-container">
        <form method="post">
            {% if error %}
                <div class="flash-errors">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <div class="form-labels">
                <label for="inputUsername" class="form-labels">Nom d'utilisateur</label>
            </div>
            <div class="form-fields">
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-fields" autocomplete="username" required autofocus>
            </div>

            <div class="form-labels">
                <label for="inputPassword" class="form-labels">Mot de passe</label>
            </div>
            <div class="form-fields">
                <input type="password" name="password" id="inputPassword" class="form-fields" autocomplete="current-password" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button class="btn-submit" type="submit">Connexion</button>
        </form>
    </div>
{% endblock %}
