<footer id="footer" class="foot">


        <a target="_blank" href="https://github.com/Veustyle"><svg id="github"><use href="/img/sprite.svg#github"></use></svg> Github</a>
        <p>{{ compteur }} Visites</p>
</footer>