{% extends 'base.html.twig' %}


{% block body %}

    <p>
        Veuillez cliquer sur le lien pour réinitialiser votre mot de passe.
        Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas l'email, n'oubliez pas de regarder dans les spams ou ressayez : <a href="{{ path('app_forgot_password_request') }}">Réessayer</a>.</p>
{% endblock %}
