{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="./css/games.css">{% endblock %}

{% block javascripts %}<script src="./js/brickbreaker/game.js" type="module"></script>{% endblock %}

{% block body %}
    {% include 'partials/_list-games.html.twig' %}

    <p>Le code est sur github (lien dans le footer)</p>

    <div style="display: flex; justify-content: center; margin-bottom: 30px">
        <canvas width="500" height="500"></canvas>
    </div>
{% endblock %}